body{
    background-color: #fafafa;
    color: #555555;

    font-family: "Courier New", Helvetica, sans-serif;
    font-size: 20px;

    line-height: 1.6em;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #f23c3c;
}

a:active{
    color: green;
}


.container{
    width: 80%;
    margin: auto;
}


.box-1{
    background-color: #333;
    color: #fff;

    border: 3px solid red;


    padding: 5%;
    margin: 3% 0;
}

.box-1 h1{
    font-style: italic;
    letter-spacing: 0.2em;
}

.box-2{
    border: 2px solid #ccc;
    padding: 5%;
    margin: 5% 0;
}


.categories{
    border: 1px solid #ccc;
    margin-bottom: 5%; 
    padding: 3%;
    border-radius: 6px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    padding-left: 2%;
    list-style: none;
}

.categories li{
    padding-bottom: 1%;
    padding-top: 1%;
    border-bottom: solid 1px #ccc;
    list-style-image: url('./tick.png');
}

/* .my-form{
    padding: 3%;
} */

.my-form .form-group{
    padding-bottom: 4%;
}

.my-form label{
    display: block;
}

.my-form input[type="text"{
    padding: 2%;
    width: 100%;
}

